<a href="https://colab.research.google.com/github/BHARATNANDAL1997/Pandas_demo/blob/main/spark_python_dataframes_Latest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
dataList = [("java", 20000), ("python", 100000), ("scala", 3000)]

In [5]:
rdd=spark.sparkContext.parallelize(dataList)

In [6]:
rdd.count()

3

In [7]:
rdd.collect()

[('java', 20000), ('python', 100000), ('scala', 3000)]

In [8]:
rdd.first()

('java', 20000)

In [9]:
data = [('james','','Smith','1991-04-01','M',3000),
 ('Michael','Rose','','2005-05-19','M',4000),
 ('Robert','','Williams','1978-09-05','M',4000),
 ('Maria','Anne','Jones','1967-12-01','F',4000),
 ('Jen','Mary','Brown','1980-02-17','F',-1)]
columns = ["FIRST NAME","MIDDLE NAME","LAST NAME","job","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)

In [10]:
df.show()

+----------+-----------+---------+----------+------+------+
|FIRST NAME|MIDDLE NAME|LAST NAME|       job|gender|salary|
+----------+-----------+---------+----------+------+------+
|     james|           |    Smith|1991-04-01|     M|  3000|
|   Michael|       Rose|         |2005-05-19|     M|  4000|
|    Robert|           | Williams|1978-09-05|     M|  4000|
|     Maria|       Anne|    Jones|1967-12-01|     F|  4000|
|       Jen|       Mary|    Brown|1980-02-17|     F|    -1|
+----------+-----------+---------+----------+------+------+

In [11]:
columns = ["language","users count"]
data = [("java","20000"), ("python","100000"),("scala","30000")]

In [17]:
rdd = spark.sparkContext.parallelize(data)

In [26]:
dfFromRDD1 = rdd.toDF()

In [27]:
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)

In [30]:
dfFromRDD1.show()

+------+------+
|    _1|    _2|
+------+------+
|  java| 20000|
|python|100000|
| scala| 30000|
+------+------+