<a href="https://colab.research.google.com/github/BHARATNANDAL1997/Pandas_demo/blob/main/spark_python_dataframes_Latest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=415f19338e60869f0d6bf25bb72903068e84a40690ff44249d86b97d4aa06309
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
dataList = [("java", 20000), ("python", 100000), ("scala", 3000)]

In [ ]:
rdd=spark.sparkContext.parallelize(dataList)

In [ ]:
rdd.count()

3

In [ ]:
rdd.collect()

[('java', 20000), ('python', 100000), ('scala', 3000)]

In [ ]:
rdd.first()

('java', 20000)

In [ ]:
data = [('james','','Smith','1991-04-01','M',3000),
 ('Michael','Rose','','2005-05-19','M',4000),
 ('Robert','','Williams','1978-09-05','M',4000),
 ('Maria','Anne','Jones','1967-12-01','F',4000),
 ('Jen','Mary','Brown','1980-02-17','F',-1)]
columns = ["FIRST NAME","MIDDLE NAME","LAST NAME","job","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)

In [ ]:
df.show()

+----------+-----------+---------+----------+------+------+
|FIRST NAME|MIDDLE NAME|LAST NAME|       job|gender|salary|
+----------+-----------+---------+----------+------+------+
|     james|           |    Smith|1991-04-01|     M|  3000|
|   Michael|       Rose|         |2005-05-19|     M|  4000|
|    Robert|           | Williams|1978-09-05|     M|  4000|
|     Maria|       Anne|    Jones|1967-12-01|     F|  4000|
|       Jen|       Mary|    Brown|1980-02-17|     F|    -1|
+----------+-----------+---------+----------+------+------+

In [ ]:
columns = ["language","users count"]
data = [("java","20000"), ("python","100000"),("scala","30000")]

In [ ]:
rdd = spark.sparkContext.parallelize(data )

In [ ]:
dfFromRDD1 = rdd.toDF()

In [ ]:
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)

In [ ]:
dfFromRDD1 = rdd.toDF(columns)

In [ ]:
dfFromRDD1.printSchema()

root
 |-- language: string (nullable = true)
 |-- users count: string (nullable = true)

In [ ]:
columns = ["Persons","Freinds"]
data = [("BHARAT","5000"), ("TIGER","10000"), ("JANDRA","1000")]

In [ ]:
rdd = spark.sparkContext.parallelize(data)

In [ ]:
dfFromRDD1 = rdd.toDF(columns)

In [ ]:
dfFromRDD1.printSchema()

root
 |-- Persons: string (nullable = true)
 |-- Freinds: string (nullable = true)

In [ ]:
dfFromRDD1.show()

+-------+-------+
|Persons|Freinds|
+-------+-------+
| BHARAT|   5000|
|  TIGER|  10000|
| JANDRA|   1000|
+-------+-------+

In [ ]:
pandasDF = df.toPandas

In [ ]:
pandasDF

In [ ]:
pandasDF.shape

AttributeError: ignored